.badge :global(.t-badge--circle) {
  top: 5px;
  right: 6px;
}
.menuIcon {
  width: 30px !important;
  height: 30px !important;
}
.dropItem {
  display: flex;
  align-items: center;
  span {
    margin-left: 8px;
  }
}
.dropdown {
  padding-left: 0;
  padding-right: 0;
  border: 0;
  .icon {
    font-size: 20px;
    display: inline-block;
    margin: 0 5px;
  }
  .text {
    margin: 0 4px;
  }
  :global(.t-avatar),
  .avatarFallback {
    flex-shrink: 0;
    margin-right: 6px;
    background: #c9cdd4;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
  }
  :global(.t-button__text) {
    display: flex;
    align-items: center;
  }
  .text {
    color: #1d3a66;
    font-size: 16px;
    line-height: 24px;
  }
}
