.panel :global(.t-input) {
  border: none;
}
.panel :global(.t-input:hover) {
  background: var(--td-bg-color-secondarycontainer);
  transition: background var(--td-anim-duration-base) linear;
}
.panel :global(.t-input--focused) {
  box-shadow: none;
}
